.navbar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(242, 203, 136);
   
}

.logo
{
    width:150px;
    cursor: pointer;
}

ul
{
    flex: 1;
    list-style: none;
    text-align: center;
    /*gap:20px;*/
}

ul li
{
    display: inline-block;
    margin: 10px 20 px;
    font-size: 26px;
    cursor: pointer;
}

.searchbar
{
    display: flex;
    align-items: center;
}



.searchbar img
{
    width: 20px;
}

.menu
{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.menuitem
{
    padding: 10px 15px;
    cursor: pointer;
}

.search
{
    width: 40px;
    height: auto;
    margin: 20px;
}

.signinup .btn
{
    width: 130px;
    height: 40px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.btn
{
    background: rgba(255,255,255,0.7);
    margin: 40px;
}

.btn:hover
{
    background: rgba(255,255,255,0.3);
}

.signinup
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn:hover
{
    background: rgba(255,255,255,0.5);
}

.nav-link {
    text-decoration: none; /* No underline by default */
    color: black; /* Default link color */
    padding: 5px 10px;
  }
  
  .nav-link.active {
    text-decoration:solid;/* Underline for active link */
    color: rgb(114, 131, 131); /* Optional: Change color for the active page */
  }

.profile
{
   width:40px;
   height:40px;
   
}
  






  