.container
{
    width:100%;
    margin: auto;
    padding: 40px 0;
    background: linear-gradient(127deg,#c3b94b,#93b699,#e38a90);

}
.title
{
    margin-bottom: 2rem;
    color: rgb(233, 105, 54);
    text-align: center;
}

.column
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img
{
    width: 90%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
    align-items: center;
    margin-left: 30%;
}

.photogallery
{
    display: flex;
    
}

@media(max-width:768px)
{
    .photogallery{
        flex-direction: column;
    }
}

.welcome
{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width:50%;
    background-color: white;
   margin-left: 24.5%;
}

.welcome p
{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
}

.welcome h2
{
    margin-bottom: 20px;
    color: rgb(153, 82, 181);
    margin-left: 15%;

}

.welcome h3
{
    margin-left: 15%;

}

.experience {
    display: flex;
    justify-content: center; 
    gap: 40px; /* Space between the items */
    margin-top: 20px; /* Space above the experience section */
}

.experience-item {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 150px; /* Adjust size */
}

.experience-item h3 {
    font-size: 2rem;
    color: #ff6347;
    margin: 0;
}

.experience-item p {
    font-size: 1rem;
    color: #333;
    margin-top: 5px;
}

.footer
{
    background-color: #a3a0a0;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.footer-content
{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:20px;
    margin:0 0 0 10px;
}

.social-icons
{
    flex:1;
    min-width :200px;
}

.footer-content h2,.social-media h2
{
    margin-bottom: 10px;
    color: #ff6347;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #ff6347;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .footer-bottom p {
    margin: 0;
  }

